footer.footer {
    background-color: $gray-800;
    .social {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        @include media-breakpoint-up(md) {
            text-align: right;
            position: absolute;                
            right: 0;
            bottom: 0;
        }
    }
}