.hero {
    .carousel-caption {
        text-align: left;
        height: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        @include media-breakpoint-up(lg) {
            h2 {
                font-size: 2rem;
            }
        }
        @include media-breakpoint-up(xl) {
            h2 {
                font-size: 3.5rem;
            }
        }
    }
}