.form {
    @include media-breakpoint-down(sm) {
        h1 {
            font-size: 1.3rem;
        }
    }
}
.form-underlined {
    .form-group {
        padding-top: 1rem;
        position: relative;
        .form-control {
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid theme-color('secondary');
            padding: 0;
            color: theme-color('secondary');
            &:focus {
                box-shadow: none;
                border-bottom: 1px solid theme-color('primary');
            }
        }
        label {
            &.animation {
                color: theme-color('secondary');
            }
        }
    }
    .custom-control {
        color:color('green-dark');
        font-size:0.875rem;
        line-height: 1.4;
        padding-left:3rem;
        min-height: 2rem;
        .custom-control-label {
            padding-top: 0.4rem;
            &::before {
                top:0;
                // left:-3rem;
                background-color:transparent;
                @include border-radius(0);
                @include size(2rem);
                border: 1px solid color('green-dark');
            }
            &::after {
                @include size(1.9rem);
                top:0;
                // left:-3rem;
                // left: 
            }
        }

        .custom-control-input:focus {

            ~ .custom-control-label {
                &::before, &::after {
                    border-color: color('green-dark');
                    box-shadow: none;
                    outline:0;
                }
            }
        }
        &.custom-checkbox {
            .custom-control-label::before {
                border: 1px solid color('green-dark');
                background-color: color('white');
            }
            .custom-control-input {
                background-color: color('white');
                &:checked ~ .custom-control-label::before {
                    color:color('green-dark');
                    background-color: theme-color('primary');
                    border: 1px solid color('green-dark');
                }
                &:checked ~ .custom-control-label::after {
                    background-image: none;
                    // background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{color('white')}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23");
                }
                &:indeterminate ~ .custom-control-label::after {
                    background-color: color('white');
                    // background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{color('white')}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23");
                }
            }
        }
    }

    &.was-validated {
        .form-control {
            &:valid  {
                border-color:color('green-dark');
                box-shadow: 0 0 0 rgba(0,0,0,0);
            }
    
            &:valid:focus {
                border-color:color('orange');
                box-shadow: 0 0 0 rgba(0,0,0,0);
            }
            
            &:invalid {
                border-color: theme-color('danger');
                box-shadow: 0 0 0 rgba(0,0,0,0);
            }
            &:invalid:focus {
                border-color: theme-color('danger');
                box-shadow: 0 0 0 rgba(0,0,0,0);
            }
        }

        .custom-control-input {
            &:valid:checked ~ .custom-control-label::before {
                color:color('green-dark');
                background-color: theme-color('primary');
            }

            &:valid ~ .custom-control-label {
                color: color('green-dark');
                &:before {
                    border-color:color('green-dark');
                }
            }
            
            &:invalid ~ .custom-control-label {
                color:color('green-dark');
                &:before {
                    border-color:theme-color('danger');
                    background-color: color('white');
                }
            }
        }
    }
}