.form-group.label-animated {
    position: relative;
    margin-bottom: .5rem;
    label.animation {
        position: absolute;
        left:0;
        // top:$input-padding-y;
        padding-left:0;
        padding-right:0;
        padding-top:0;
        padding-bottom:0;
        margin-bottom: 0;
        z-index: 10;
        
        font-size: 0.8rem;
        // color:gray('900');
        // transition: transform 150ms ease-out, font-size 150ms ease-out;
        transition: transform 150ms ease-out;
        
        // &.uplift {
        //     transform: translateY(-125%);
        //     font-size: .75rem;
        // }
    }
    &.focused {
        label.animation {
            transform: translateY(-115%);
            font-size: 0.7rem;
        }
    }
    &.has-select {
        select.form-control {
            appearance: textfield;
        }
        &:after {
            content: "\005e";
            display: block;
            right: 0;
            top: 0;
            position: absolute;
            transform: rotate(180deg)
        }
    }
}